@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Source Sans Pro', sans-serif !important;
        }



        .parent-container {
            /* box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%); */
            padding: 0;
            width: 100% !important;
            margin: 0;
            overflow-x: hidden;
        }

        .top-bar {
            height: 25px;
            background-color: #6d1b7b;

        }

        .nav-container {
            width: 100% !important;
            background-color: #9c27b0;
            padding: 3px;
            color: #fff;
        }

        .nav-item_ {
            text-align: center;
            border-right: 2px solid #fff;
            font-weight: 400;
            padding: 3px 0;
            /* line-height: 5px; */

        }

        .navbar-light .navbar-nav .nav-link {
            color: #fff;
        }

        .navbar-light .navbar-nav .active>.nav-link,
        .navbar-light .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .nav-link.show,
        .navbar-light .navbar-nav .show>.nav-link {
            color: #fff;
            font-weight: bold;
        }


        .our-logo {
            font-weight: 600;
            font-size: 20px;
            /* padding: 0 10px; */
            color: #fff !important;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .banner-image {
            box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
            width: 100%;
            /* background-image: url("images/banner3.png"); */
            /* background-size: cover; */
            /* height: 217px; */
            margin-top: 2px;
            padding:0;

        }

        .search-box {
            box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
            margin-top: 50px;
            padding: 15px;
            border-radius: 20px;
            width: 60%;
        }

        .search-input {
            border: 1px solid #ddd;
            height: 50px;
            border-radius: 20px;
            width: 100%;
            margin: 5px;
            padding-left: 10px;

            /* box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%); */
            background-color: #ddd;
        }

        .search-button {
            border: 0;
            box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
            font-size: 20px;
            height: 50px;
            background-color: #f50057;
            border-radius: 100%;
            width: 50px;
            font-weight: bold;
            color: #fff;
            margin-top: 5px;

            background-color: #f50057;
        }

        .jobs-content {
            box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
            width: 60%;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 15px;
            border-radius: 20px;
            text-align: justify;
        }

        .job-logo {
            /* padding:50px 0; */

        }

        .read-more-button {
            box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
            background-color: #f50057;
            border: 0;
            border-radius: 100%;
            width: 50px;
            height: 50px;
        }

        .job-company {
            font-weight: bold;
            color: black;
            font-size: 17px;
            color: #333;
        }

        .job-title {
            font-weight: bolder;
            color: #4615b2;
            font-size: 20px;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        .b-nav {
            display: none;
        }

        .custom-nav {
            display: inline-flexbox;
        }



        /* Shaking div effect start */
        .search-box:hover,.jobs-content:hover {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {

            10%,
            90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%,
            80% {
                transform: translate3d(2px, 0, 0);
            }

            30%,
            50%,
            70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%,
            60% {
                transform: translate3d(4px, 0, 0);
            }
        }
        /* Shaking div effect end */

        .date-posted{
            font-size:13px;
        }

        .readmore-button-section{
            display:flex; 
            justify-content:right;
        }

        
    

        @media only screen and (max-width: 1000px) {

            .search-box {
                width: 90%;
            }

            .jobs-content {
                width: 90%;
                padding: 10px;
            }

            .job-details {
                line-height: 1.2em;
                font-size: 14px;
            }

            .job-company {
                font-size: 15px;
            }

            .job-title {
                font-size: 17px;
            }

            .search-box {
                padding: 10px;
            }

            .read-more-button,
            .search-button {
                width: 40px;
                height: 40px;
            }

            .custom-nav {
                display: none;
            }

            .b-nav {
                display: flex;
            }
        }